/* Body text */
body{
  max-width: 650px;
  padding: 2rem;
  margin: auto;
  
  line-height: 1.5;
  text-align: center;
  
  background-image: linear-gradient(#000000, #821c82);
}

/* Display font */
h3{
  font-family: 'Press Start 2P', 'cursive';
  font-size: 1.5rem;

  color: hsl(0, 0%, 6%);
}

/* Card container */
.cta{
  max-width: 30ch;
  padding: 1rem;
  margin: 1rem;
  margin-top: auto;
  border-radius: 1rem;

  font-family: 'Play', sans-serif;
  font-size: 2.2rem;
  font-variant: small-caps;
  
  background-color: hsl(0, 0%, 100%);
  display: block;
 }

 /* Space-image-caption attributes */
.space-image-caption{
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.3rem;
  font-variant: normal;
  font-style: italic;
   
  color: hsl(0, 0%, 0%);
 }
 
 /* Image attributes */
 img{
  max-width: 100%;
  height: auto;
  border-radius: 1rem;

  display: block;
 }

 /* Hover attributes */
 .cta a:hover{
  color: hsl(170, 88%, 72%);
  filter: drop-shadow(0 0 2em #acfff4aa);
 }
 
 /* Link attributes */
 a{
 margin-top: 1rem;
 
 text-decoration-line: none;
 
 color: hsl(0, 0%, 100%)
 }

 /*Find out more button */
 .find-out-more{
  padding: 0.5rem;
  display: inline-block;
  
  border-radius: 10%;
  
 background-color:hsl(300, 64%, 28%);
 }

 /*Play now button*/
 .play-now{
  width: max-content;
  padding: 0.5rem 1rem;
  margin: auto;
 
  font-size: 1.2rem;
  
  border-radius: 10%;
 
  background-color:hsla(154, 100%, 77%, 0.439);
  color: hsl(0, 0%, 0%);
 
  display: inline-block;
 
  display: flex;
  flex-direction: column;
 }