/* Body text */
body{
  max-width: 650px;
  padding: 2rem;
  margin: auto;

  line-height: 1.5;
  text-align: center;

  background-image: linear-gradient(#000000, #821c82);
}

h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;

  color: #101010;
}

/* Call-to-action container */
.cta {
  max-width: 30ch;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem;
  margin-top: auto;

  font-family: 'Play', sans-serif;
  font-variant: small-caps;
  font-size: 40px;
  background-color: #ffffff;
 }

.space-image-caption{
  font-size: 17px;
  color: black;
 }
 
 img{
  max-width: 100%;
  height: auto;
  border-radius: 1rem;

  display: block;
 }

 .paragraph{
  color: #000000;
  font-family: 'Rajdhani', sans-serif;
  font-variant: normal;
  font-size: 20px;
 }

 .cta a:hover{
  color: #270acc;
 
  opacity: 70%;
  border: auto;
 }
 
 a{
 text-decoration-line: none;
 color: #e64fdc
 }